<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
    <div class="col-3 container img-container">
        <img class="img-fluid no-hover" src="imgs/maui.jpg">
        <img class="img-fluid no-hover" src="imgs/bangkok.jpg">
        <img class="img-fluid no-hover" src="imgs/swiss-alps.jpg">
    </div>
</main>
    

<%- include('partials/footer') -%>